[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
django-rest-framework = "*"

[dev-packages]

[requires]
python_version = "3.6"
