{% extends "base.html" %}

{% block title %}
    Películas
{% endblock %}

{% block content %}
    <h2>Lista de Películas</h2>
    <hr>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Argumento</th>
                <th scope="col">Año</th>
                <th scope="col">Website</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'core:MovieDetail' pk=movie.id %}">
                            {{movie.title}}
                        </a>
                    </td>
                    <td>{{ movie.plot }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.website|default_if_none:'' }}</td>
                    <td class='text-center'>{{ movie.rating }}</td>
                </tr>
            {% empty %}
                <h4>No existe información que mostrar.</h4>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' with page_obj=page_obj %}
{% endblock %}