{% extends 'base.html' %} {% block title %} Detalle de Cliente - {{object.dni}} {% endblock %} {% block content %}
<h3>Información del Cliente</h3>
<div class="container">
    <div class="card" style="width: 18rem; text-align: center">
        <div class="card-body">
            <div class="row">
                <label for="">Cédula: </label>
            </div>
            <div class="row">
                <p class="card-text">{{ object.dni }}</p>
            </div>
            <div class="row">
                <label for="">Nombre:</label>
            </div>
            <div class="row">
                <p class="card-text">{{ object.first_name }}</p>
            </div>
            <div class="row">
                <label for="">Apellido:</label>
            </div>
            <div class="row">
                <p class="card-text">{{ object.last_name }}</p>
            </div>
        </div>
    </div>
    <br>
    <a href="{% url 'orders:clients' %}" class="btn btn-info">Regresar</a>
</div>
{% endblock %}